/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "IRANYekan_Light";
    src: url('./assets/fonts/iranyekanweblightfanum.eot');
    src: url('./assets/fonts/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('./assets/fonts/iranyekanweblightfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/iranyekanweblightfanum.ttf') format('truetype');
}


@font-face {
    font-family: "IRANYekan_Medium";
    src: url('./assets/fonts/iranyekanwebmediumfanum.eot');
    src: url('./assets/fonts/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('./assets/fonts/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: "IRANYekan_ExtraBold";
    src: url('./assets/fonts/iranyekanwebextraboldfanum.eot');
    src: url('./assets/fonts/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('./assets/fonts/iranyekanwebextraboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: "IRANYekan_Black";
    src: url('./assets/fonts/iranyekanwebblackfanum.eot');
    src: url('./assets/fonts/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('./assets/fonts/iranyekanwebblackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: "IRANYekan_ExtraBlack";
    src: url('./assets/fonts/iranyekanwebextrablackfanum.eot');
    src: url('./assets/fonts/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('./assets/fonts/iranyekanwebextrablackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./assets/fonts/iranyekanwebextrablackfanum.ttf') format('truetype');
}


  /* @font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    src: url('./assets/fonts/IRANSansWebBlack.eot')format('eot');
    src: url('./assets/fonts/IRANSansWebBlack.ttf')format('ttf');
    src: url('./assets/fonts/IRANSansWebBlack.woff')format('woff');
    src: url('./assets/fonts/IRANSansWebBlack.woff2')format('woff2');
  }
  @font-face {
    font-family: 'IRANYekanWeb';
    font-style: normal;
    src: url('./assets/fonts/iranyekanwebblackfanum.eot')format('eot');
    src: url('./assets/fonts/iranyekanwebblackfanum.ttf')format('ttf');
    src: url('./assets/fonts/iranyekanwebblackfanum.woff')format('woff');
    src: url('./assets/fonts/iranyekanwebextrablackfanum.eot')format('eot');
    src: url('./assets/fonts/iranyekanwebextrablackfanum.ttf')format('ttf');
    src: url('./assets/fonts/iranyekanwebextrablackfanum.woff')format('woff');
  } */


*{
    margin: 0;
    padding: 0;
    font-family: 'IRANYekan_Medium';
    font-weight: 200;
}

.origindiv{
    margin-top: 64px;
    margin-left: 5px;
 }

.HomePic {
    background-image:url(./assets/img/o8dlfk93azs31.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: white;
    overflow: hidden;
    background-attachment: fixed;
    background-clip: content-box;
    background-position:center;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    height: 90vh;
    object-fit: cover;


  }


#dost{
    font-size: 25px;
    font-family: "IRANYekan_ExtraBold"!important;
    transform:scale(1.2) ;
    margin-left: 50px;
}


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff!important;
    opacity: 1; /* Firefox */
    font-size:18px!important;
}
.form-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    color:white;
    box-shadow:0 1px 0 #cfcfcf;
}
.form-control{
    background:transparent!important;
    color:white!important;
    font-size: 18px!important;
}
h1{
    color:white!important;
}
h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}
.text-white{
    color: white!important;
}

.footer p{
    font-size: 18px;
}

.Homecontainer {
    padding: 90px;
}



