<div class="row px-1 " dir="rtl" style="width: 98%;">
    <div class="col-12 col-md-5 col-xl-3 col-lg-4 col-sm-11">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async)?.includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> آنلاین
                </div>
                <div>
                    <strong>مکان:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>سن:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div *ngIf="!(presence.onlineUsers$ | async)?.includes(member.username)">
                    <strong>آخرین بازدید :</strong>
                    <p>{{member.lastActiveP}}</p>
                </div>
                <!-- <div>
                    <strong>تاریخ عضویت :</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div> -->
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex float-center" dir="ltr">
                    <button (click)="addLike(member!)" class="btn btn-danger">پسندیدن</button>
                    <button (click)="selectTab(3)" class="btn btn-info">یه پیام بفرست</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-8 col-lg-7 col-sm-11">
        <tabset class="member-tabset text-justify " #memberTabs>
            <tab heading='درباره {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4 class="text-right">درباره</h4>
                <p>{{member.introduction}}</p>
                <br>
                <h4 class="text-right">مشتاق برای </h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='علاقه مندی ها' (selectTab)="onTabActivated($event)">
                <h4 class="text-right"> علاقه ها</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading='عکس ها' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading='پیام ها' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>