<div class="HomePic">
    <div *ngIf="!registerMode" class="row justify-content-center " style='text-align: center;'>
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm"
            class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <div class="row Homecontainer">
                <div class="col-md-offset-4 col-md-9 text-center">
                    <div class="form-login w-100"><br>
                        <h4>دوسته تو پیدا کن </h4>
                        <br>
                        <section class="text-center">
                            <input name="username" [(ngModel)]="model.username"
                                class="form-control input-sm chat-input my-2 w-100 text-center" type="text"
                                placeholder="نام کاربری">
                            <input name="password" [(ngModel)]="model.password"
                                class="form-control input-sm chat-input my-2 w-100 text-center" type="password"
                                placeholder="رمز عبور">
                            <br><br>
                            <div class="group-btn w-100 ">
                                <button (click)="login()" class="btn btn-danger btn-sm w-100 p-2 my-2">ورود <i
                                        class="fa fa-sign-in"></i></button>
                            </div>
                            <div class="group-btn w-100">
                                <button type="button" (click)="registerToggle()"
                                    class="btn btn-primary btn-sm p-2 w-100 my-2">ثبت
                                    نام</button>
                            </div>
                            <div class="group-btn w-100">
                                <button type="button" class="btn btn-info btn-sm w-100 p-2 my-2">درباره برنامه</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="registerMode">
        <div class="row justify-content-center Homecontainer">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>